body, html {
    background: #000 url('/images/bg_nerves02.gif');
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div {
    margin: 0 auto;
}

button {
    width: 100%;
    font-size: 128px;
    color: #d2738a;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-family: serif;
}

button:hover {
    color: #e4acba;
}

.bob {
    position: absolute;
    top: 50%;
    left: 80%;
    animation: AnimBob 5s infinite;
    opacity: 0.08;
}