@charset "utf-8";

:root {
    --dark: #1f2220;
}

.blog h2:before, h3:before,
h4:before, h5:before,
h6:before {
    content: "# ";
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border-radius: 3px;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #F8F8F8;
}

p, blockquote, table, pre {
    margin: 15px 0;
}

code, pre {
    font-family: monospace;
    border-radius: 3px;
    color: inherit;
    background-color: var(--dark);
}

code {
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}