@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
@font-face {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/andadapro/v1/HhyEU5Qi9-SuOEhPe4LtKoVCuWGURPcg3DPJBb8bHr0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    color: var(--accent);
    font-size: 18px;
    font-family: 'Fira Code', 'Lucida Console', monospace;
}

::selection {
    color: var(--accent2);
    background-color: var(--accent);
}

body {
    width: 50%;
    margin: 0 auto;
    background: var(--main) url(../images/xv.png) fixed;
}

a {
    color: var(--accent2);
}

img {
    outline: 2px solid var(-accent);
}

.mono {
    font-family: monospace;
    font-weight: bold;
}

input[type=button],
input[type=submit] {
    font-family: 'Fira Code', 'Lucida Console', monospace;
    font-size: 18px;
    background-color: var(--accent);
    border: none;
    color: var(--main-dark);
    padding: 1em;
    text-decoration: none;
    cursor: pointer;
}

.align-right {
    text-align: right;
}

.medium-img {
    width: 50%;
}

/* HEADER */
header {
    background-color: var(--main-dark);
    outline: 2px solid var(--accent);
    margin-top: 1em;
    padding: 1em 1.5em;
}

header .title {
    font-size: 32px;
    color: var(--accent);
}

.title a {
    color: var(--accent);
    text-decoration: none;
}

.subtitle {
    color: var(--accent-dark);
}

header nav {
    margin-top: 1em;
}

header nav li {
    margin-right: 1em;
    display: inline-block;
}

/* MAIN */
main section {
    background-color: var(--main-dark);
    outline: 2px solid var(--accent);
    margin: 1em 0;
}

main section .title {
    color: var(--main-dark);
    background-color: var(--accent);
    padding: 0.5em;
}

main .word-list li {
    padding: 0.5em 0;
    display: block;
}

main li {
    display: inline-block;
    margin-right: 1em;
}

main .title::before {
    content: "> ";
}

main .content-h2 {
    margin-bottom: 1em;
}

main .content {
    padding: 1em 1.5em;
}

/* FOOTER */
footer {
    background-color: var(--main-dark);
    outline: 2px solid var(--accent);
    margin: 1em 0;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

footer div {
    color: var(--accent-dark);
}

footer p {
    font-size: 16px;
    display: inline;
}

/* ABOUT PAGE ANIMATION */
.terminal {
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    from, to { opacity: 0; }
    
    50% {opacity: 1;}
}

/* FORMS */
::placeholder {
    color: var(--accent);
}

form ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

form .flex-big {
    flex-basis: 50%;
}

form input[type=text] {
    padding: 0.5em;
    background-color: var(--main-dark);
    border: 2px solid var(--accent);
    color: var(--accent2);
    font-size: 16px;
    width: 95%;
}

form input[type=text]:focus {
    outline: none;
}

form input[type=submit] {
    font-size: 16px;
    padding: 0.5em;
}

/* GUESTBOOK */
#guestbook table {
    width: 100%;
}

#guestbook td {
    padding: 0.5em 0;
    word-break: break-word;
}

/* BOOKS WIDGET */
#books iframe {
    width: 165px;
    height: 400px;
}

/* MOBILE STUFF */
@media only screen and (max-width: 960px) {
    body {
        width: 95%;
    }

    footer {
        padding: 1em 0;
        display: block;
    }

    footer div,
    footer .align-center,
    footer .align-right {
        text-align: center;
    }

    .link-list li {
        display: block;
        margin: 0.5em 0;
    }

    nav .ls {
        margin: 1em 0;
        display: block;
    }

    .mobile-hidden {
        display: none;
    }

    .medium-img {
        width: 100%;
    }
}