@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
@font-face {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/andadapro/v1/HhyEU5Qi9-SuOEhPe4LtKoVCuWGURPcg3DPJBb8bHr0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --main: #2b2a33;
    --main-dark: #1c1b22bb;
    --accent: #ad8165;
    --accent-dark: #e0a581;
    --accent2: #81ace0;
    --accent2-dark: #929298;
    --white: #ddd;
    
    color: var(--white);
    font-size: 18px;
    font-family: 'Fira Code', 'Lucida Console', monospace;
}

body {
    width: 50%;
    margin: 0 auto;
    background: var(--main) url(../images/xv.png) fixed center;
}

/* HEADER */
header {
    background-color: var(--main-dark);
    outline: 2px solid var(--accent2);
    margin: 1em 0;
    padding: 1.5em;
}

.title {
    font-size: 24px;
    color: var(--accent2);
}

.title a {
    color: var(--accent2);
    text-decoration: none;
}

.subtitle {
    color: var(--accent2-dark);
}

header nav {
    margin: 0 auto;
}

header nav li {
    margin: 1em;
    margin-bottom: 0;
    display: inline-block;
}

header nav a {
    color: var(--accent);
}

/* MAIN */
main section {
    background-color: var(--main-dark);
    outline: 2px solid var(--accent2);
    margin: 1em 0;
    padding: 1.5em;
}

main li {
    display: inline-block;
    margin: 1em;
    margin-bottom: 0;
}

main a {
    color: var(--accent);
}

/* FOOTER */
footer {
    background-color: var(--main-dark);
    outline: 2px solid var(--accent2);
    margin: 1em 0;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

footer div {
    color: var(--accent2-dark);
}

footer p {
    font-size: 16px;
    display: inline;
}

footer a {
    color: var(--accent2-dark);
    text-decoration: none;
}