@font-face {
    font-family: 'EB Garamond';
    font-weight: 400;
    font-display: swap;
    src: url(/font/EBGaramond-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'EB Garamond';
    font-weight: 500;
    font-display: swap;
    src: url(/font/EBGaramond-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'EB Garamond';
    font-weight: 600;
    font-display: swap;
    src:  url(/font/EBGaramond-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'EB Garamond';
    font-weight: 700;
    font-display: swap;
    src: url(/font/EBGaramond-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'EB Garamond';
    font-weight: 800;
    font-display: swap;
    src: url(/font/EBGaramond-ExtraBold.ttf) format('ttf');
}
