/* COMMON LAYOUTS */
.content-grid, .full-width {
    display: grid;
    grid-template-columns: [full-width-start] 1fr [content-start] minmax(0, 50rem) [content-end aside-right-start] 1fr [full-width-end];
}

.content-grid > *,
.full-width > * {
    grid-column: content;
}

.content-grid > .full-width {
    grid-column: full-width;
}
