@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('/css/reset.css');

* {
    box-sizing: border-box;
}

:root {
    --clr-primary: #9bbc0f;

    --clr-off-white: #F5F5F5;

    --clr-light-gray: #EDEDED;
    --clr-gray: #C5C5C5;
    --clr-darkish-gray: #A0A0A0;
    --clr-dark-gray: #7A7A7A;

    --gradient-gray: linear-gradient(var(--clr-off-white), var(--clr-light-gray));

    --agnostic-primary-modelight: var(--clr-primary);
}

html, body {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5;

    background: white;
    color: black;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

h1 {
    font-size: 4rem;
    margin-top: 0;
}

h2 {font-size: 2rem;}

h3 {font-size: 1.5rem;}

h4 {font-size: 1.3rem;}

h5 {font-size: 1.05rem;}

small, .text_small {font-size: 0.8rem;}

p {
    font-family: serif;
    text-align: justify;
    margin-bottom: 0.5rem;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: var(--clr-primary);
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

ul {
    list-style-type: "/ ";
    list-style-position: inside;
}

/* External links */
main a[href^="http"]::after {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.4rem;
    background: url(/img/external-link.svg) no-repeat center;
    filter: invert(77%) sepia(16%) saturate(6712%) hue-rotate(27deg) brightness(96%) contrast(88%);
    display: inline-block;
  }

/* COMMON LAYOUTS */
.content-grid, .full-width {
    display: grid;
    grid-template-columns: [left full-width-start] 1fr [main] minmax(10rem, 40rem) [right] 1fr [full-width-end];
}

.content-grid > *,
.full-width > * {
    grid-column: main;
}

.content-grid > .full-width {
    grid-column: full-width;
}

/* UTILITY CLASSES */
.round-corners {
    border-radius: 0.5rem;
}

.float-right {
    float: right;
}

.align-right {
    text-align: right;
}

.flex {
    display: flex;
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}
