@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('/css/reset.css');

* {
    box-sizing: border-box;
}

:root {
    --clr-primary: #9bbc0f;
}

html {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5;

    background-color: white;
    color: black;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

h1 {
    position: absolute;
    right: 1rem;
    font-size: 4rem;
    margin-top: 0;
}

h2 {font-size: 1.75rem;}

h3 {font-size: 1.5rem;}

h4 {font-size: 1.3rem;}

h5 {font-size: 1.05rem;}

small, .text_small {font-size: 0.8rem;}

p {
    font-family: serif;
    text-align: justify;
    margin-bottom: 0.5rem;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: var(--clr-primary);
}

a:hover {
    text-decoration: underline;
}

/* COMMON LAYOUTS */
.content-grid, .full-width {
    display: grid;
    grid-template-columns: [left full-width-start] 1fr [main] minmax(10rem, 40rem) [right] 1fr [full-width-end];
    row-gap: 0.5rem;
}

.content-grid > *,
.full-width > * {
    grid-column: main;
}

.content-grid > .full-width {
    grid-column: full-width;
}
