@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=EB+Garamond:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=EB+Garamond&display=swap');

/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
    box-sizing: border-box;
}

:root {
    --brown: #804E28;
    --tan: #D49A76;
    --orange: #F1C59F;
    --black: #222222;
    --grey: #CFC8C8;
    --white: #e0d5c9;
}

html {
    font-family: "Andada Pro";
    font-size: 1.125rem;
    line-height: 1.35;

    background-color: var(--white);
    background-image: url(/assets/images/old-moon.png);
    color: var(--black);
}

p {margin-bottom: 1rem;}

i {font-style: italic;}

h1, h2, h3, h4, h5 {
  font-family: "EB Garamond";
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

header nav > h3 a {
  color: var(--black);
  text-decoration: none;
  font-style: italic;
  flex: 1;
}

nav ul {
  display: flex;
  grid-gap: 2rem;
}

nav li {
  display: inline-block;
}

body {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin: 1rem;
  text-align: center;
}

/* Home */
#home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#home > * {
  flex-basis: 50%;
  flex-grow: 1;
}

#about {
  flex-basis: 100%;
}

a {
  text-decoration: underline dotted;
  color: var(--brown);
}

main li {
  margin: 0.5rem 0;
}

/* Figures */
figure {
  margin: 1rem auto;
  width: 95%;
}

figure img {
  width: 100%;
}

figcaption {
  text-align: center;
}

/* External links */
article a[href^="http"]::after {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.4rem;
  background: url(/assets/svg/external-link-alt-solid.svg) no-repeat center;
  filter: invert(27%) sepia(13%) saturate(4192%) hue-rotate(350deg) brightness(97%) contrast(74%);
  display: inline-block;
}

/* Gallery */
#listing {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}

#listing * {
  flex-basis: 24rem;
  flex-grow: 1;
}

#listing a,
#listing a img {
  display: block;
  width: 100%;
  height: 100%;
}

.album-thumbnail {
  transition: all 0.2s;
}

.album-thumbnail:hover {
  filter: brightness(0.5);
}

.album-thumbnail:hover ~ .album-name {
  opacity: 1;
}

#listing a {
  position: relative;
}

#listing a img {
  object-fit: cover;
  object-position: center;
}

.album-name {
  transition: all 0.2s;
  pointer-events: none;
  font-family: "EB Garamond";
  font-size: 3rem;
  color: white;
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin: 0;
  font-size: 4rem;
  word-wrap: break-word;
}

/* Album view */
#album {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

#album li,
#album li a,
#album li img {
  display: block;
  width: 100%;
  height: 100%;
}

#album li {
  margin: 0;
}

#album li img {
  object-fit: cover;
  object-position: center;
  transition: all 0.25s;
}

#album li img:hover {
  opacity: 0.7;
}

/* Blog */
#blog .post header {
  display: flex;
  justify-content: space-between;
}

#blog .post header h4 {
  align-self: center;
}

#blog .read-more {
  text-align: right;
}

/* Code Blocks */
pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

pre {
  border-radius: 0.25rem;
}

@media (min-width: 900px) {
    header nav {
      display: flex;
      justify-content: space-between;
    }

    nav ul {
      align-self: center;
    }

    body {
      width: 40%;
      margin: 0 auto;
    }

    #album {
      width: 100%;
    }

    .float-right {
      float: right;
      margin-left: 2rem;
    }

    .small {
      width: 30%;
    }
}
